<div class="search-wrapper">
    <div class="search">
        <i class="iconfont icon-sousuo"></i>
        <input type="text">
    </div>
</div>
<div class="content-wrapper">
    <div class="nav">
        <div class="swiper-container">
            <ul class="swiper-wrapper">
                <li class="swiper-slide selected">
                    有品推荐
                </li>
                <li class="swiper-slide">
                    家居家纺
                </li>
                <li class="swiper-slide">
                    家用电器
                </li>
                <li class="swiper-slide">
                    智能家庭
                </li>
                <li class="swiper-slide">
                    餐具厨房
                </li>
                <li class="swiper-slide">
                    服装配饰
                </li>
                <li class="swiper-slide">
                    鞋靴箱包
                </li>
                <li class="swiper-slide">
                    手机电脑
                </li>
                <li class="swiper-slide">
                    电视影音
                </li>
                <li class="swiper-slide">
                    运动健康
                </li>
                <li class="swiper-slide">
                    出行户外
                </li>
                <li class="swiper-slide">
                    洗护美妆
                </li>
                <li class="swiper-slide">
                    日志文创
                </li>
                <li class="swiper-slide">
                    母婴亲子
                </li>
                <li class="swiper-slide">
                    饮食酒水
                </li>
                <li class="swiper-slide">
                    数码配件
                </li>
                <li class="swiper-slide">
                    品牌
                </li>
            </ul>
        </div>
    </div>
    <div class="goods-wrapper">
        <div class="title">
            <img src="https://shop.io.mi-img.com/app/shop/img?id=shop_b8246d2d4880bcd0935aacca0add9c17.jpeg&w=786&h=395"
                alt="">
        </div>
        <div class="goods">
            <img src="https://shop.io.mi-img.com/app/shop/img?id=shop_0e900bf191e0226f49690b89227e737f.jpeg&w=480&h=480"
                alt="">
            <p>床垫</p>
        </div>
    </div>
</div>