<div>

    <!-- 导航栏 -->
    <div id="nav" class="nav">
        <div class="nav-logo">
            <img src="https://static.home.mi.com/youpin/static/m/res/images/navi_title_v4.png" />
        </div>
        <div class="nav-search">
            <img src="https://cbu01.alicdn.com/cms/upload/2017/294/133/3331492_2093810242.png" alt="">
            <span class="navigator-search-text">运动健身周</span>
        </div>
        <div class="nav-msg">
            <img src="https://static.home.mi.com/youpin/static/m/res/images/std_titlebar_home_message.png" alt="">
        </div>
    </div>
    <!-- 轮播图 -->
    <div class="slideshow">

    </div>
    <!-- banner -->
    <div class="banner">
        <div class="banner-container">
            <div class="banner-item">
                <div class="banner-item--img">
                    <img src="https://img.youpin.mi-img.com/800_pic/20515b2cdb2ddde7721e5f6ce9731d3f.png" alt="">
                </div>
                <span class="banner-item-text">每日新品</span>
            </div>
            <div class="banner-item">
                <div class="banner-item--img">
                    <img src="https://img.youpin.mi-img.com/800_pic/20515b2cdb2ddde7721e5f6ce9731d3f.png" alt="">
                </div>
                <span class="banner-item-text">每日新品</span>
            </div>
            <div class="banner-item">
                <div class="banner-item--img">
                    <img src="https://img.youpin.mi-img.com/800_pic/20515b2cdb2ddde7721e5f6ce9731d3f.png" alt="">
                </div>
                <span class="banner-item-text">每日新品</span>
            </div>
            <div class="banner-item">
                <div class="banner-item--img">
                    <img src="https://img.youpin.mi-img.com/800_pic/20515b2cdb2ddde7721e5f6ce9731d3f.png" alt="">
                </div>
                <span class="banner-item-text">每日新品</span>
            </div>
            <div class="banner-item">
                <div class="banner-item--img">
                    <img src="https://img.youpin.mi-img.com/800_pic/20515b2cdb2ddde7721e5f6ce9731d3f.png" alt="">
                </div>
                <span class="banner-item-text">每日新品</span>
            </div>
        </div>
    </div>
    <!-- 红包 -->
    <div class="red-packets">
        <img src="https://shop.io.mi-img.com/app/shop/img?id=shop_68a16d6257d9d5c6d36a906744746cd0.png&w=1080&h=210"
            alt="">
    </div>
    <!-- 有品推荐 -->
    <div class="yp-intro production">

        <span class="item-title">有品推荐</span>
        <div class="item-container">
            <div class="product-item first-pro-item">
                <span class="production-item-title">佑旅焕新季</span>
                <span class="production-item-desc">全场满199减50 满399减100</span>
                <div class="production-item-img">
                    <img src="https://shop.io.mi-img.com/app/shop/img?id=shop_f3f9857fcba3408a6262b2d2452f1c51.png&w=420&h=280">

                </div>
            </div>
            <div class="product-item">
                <span class="production-item-title">佑旅焕新季</span>
                <span class="production-item-desc">全场满199减50 满399减100</span>
                <div class="production-item-img">
                    <img src="https://shop.io.mi-img.com/app/shop/img?id=shop_f3f9857fcba3408a6262b2d2452f1c51.png&w=420&h=280">
                </div>
            </div>
            <div class="product-item">
                <span class="production-item-title">佑旅焕新季</span>
                <span class="production-item-desc">全场满199减50 满399减100</span>
                <div class="production-item-img">

                    <img src="https://shop.io.mi-img.com/app/shop/img?id=shop_f3f9857fcba3408a6262b2d2452f1c51.png&w=420&h=280">
                </div>
            </div>
        </div>
    </div>
    <!-- 小米众筹 -->
    <div class="mi-crowd production">
        <span class="item-title">小米众筹</span>
        <div class="item-container">
            <div class="product-item first-pro-item">
                <span class="production-item-title">佑旅焕新季</span>
                <span class="production-item-price"><i>¥</i>99</span>
                <div class="production-item-img">
                    <img src="https://shop.io.mi-img.com/app/shop/img?id=shop_f3f9857fcba3408a6262b2d2452f1c51.png&w=420&h=280">
                </div>
                <div class="support">
                    <span class="current-people">14980</span>
                    <span> / </span>
                    <span class="total-people">20000人支持</span>
                    <span class="support-status">爆</span>
                </div>
                <div class="progress"></div>
            </div>
            <div class="product-item">
                <span class="production-item-title">佑旅焕新季</span>
                <span class="production-item-price"><i>¥</i>99</span>
                <div class="production-item-img">
                    <img src="https://shop.io.mi-img.com/app/shop/img?id=shop_f3f9857fcba3408a6262b2d2452f1c51.png&w=420&h=280">
                </div>
                <div class="support">
                    <span class="current-people">14980</span>
                    <span> / </span>
                    <span class="total-people">20000人支持</span>
                    <span class="support-status">爆</span>
                </div>
                <div class="progress"></div>
            </div>
            <div class="product-item">
                <span class="production-item-title">佑旅焕新季</span>
                <span class="production-item-price"><i>¥</i>99</span>
                <div class="production-item-img">
                    <img src="https://shop.io.mi-img.com/app/shop/img?id=shop_f3f9857fcba3408a6262b2d2452f1c51.png&w=420&h=280">
                </div>
                <div class="support">
                    <span class="current-people">14980</span>
                    <span> / </span>
                    <span class="total-people">20000人支持</span>
                    <span class="support-status">爆</span>
                </div>
                <div class="progress"></div>
            </div>
        </div>
    </div>
    <!-- 商品种类列表 -->
    <div class="shop-list"></div>
</div>