<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>personal</title>
    <script src="../js/flexible.js"></script>
    <link rel="stylesheet" href="../css/personal.css">
</head>

<body> -->
    <div class="personal">
        <header>
            <img class="header-left" src="https://static.home.mi.com/youpin/static/m/res/images/icon_default_head_portrait.png"
                alt="">
            <p>请登录</p>
            <img class="header-right" src="https://static.home.mi.com/youpin/static/m/res/images/device_shop_right_arrow.png"
                alt="">
        </header>
        <div class="line"></div>
        <section>
            <div class="indent">
                <span>我的订单</span>
                <img class="indent__picture" src="https://static.home.mi.com/youpin/static/m/res/images/device_shop_right_arrow.png"
                    alt="">
            </div>
            <div class="task">
                <div class="task__children">
                    <img src="https://static.home.mi.com/youpin/static/m/res/images/personal_icon_paid.png" alt="">
                    <span>待付款</span>
                </div>
                <div class="task__children">
                    <img src="https://static.home.mi.com/youpin/static/m/res/images/personal_icon_receipt.png" alt="">
                    <span>待收货</span>
                </div>
                <div class="task__children">
                    <img src="https://static.home.mi.com/youpin/static/m/res/images/personal_icon_received_goods.png" alt="">
                    <span>待评价</span>
                </div>
                <div class="task__children">
                    <img src="https://static.home.mi.com/youpin/static/m/res/images/personal_icon_return_goods.png" alt="">
                    <span>退款订单</span>
                </div>
            </div>
            <div class="line"></div>
            <div class="red-packet">
                <img src="https://static.home.mi.com/youpin/static/m/res/images/newUserBanner.png" alt="">
            </div>
            <div class="othertask">
                <div class="other__task">
                    <img class="other--task-left" src="https://static.home.mi.com/youpin/static/m/res/images/personal_icon_assets.png" alt="">
                    <p>我的资产</p>
                    <span>优惠券/积分</span>
                    <img class="other--task-right" src="https://static.home.mi.com/youpin/static/m/res/images/device_shop_right_arrow.png" alt="">
                </div>
                <div class="other__task">
                    <img class="other--task-left" src="https://static.home.mi.com/youpin/static/m/res/images/pin_logo.jpg" alt="">
                    <p>拼团订单</p>
                    <img class="other--task-right" src="https://static.home.mi.com/youpin/static/m/res/images/device_shop_right_arrow.png" alt="">
                </div>
                <div class="other__task">
                    <img class="other--task-left" src="https://static.home.mi.com/youpin/static/m/res/images/personal_icon_collection.png" alt="">
                    <p>我的收藏</p>
                    <img class="other--task-right" src="https://static.home.mi.com/youpin/static/m/res/images/device_shop_right_arrow.png" alt="">
                </div>
                <div class="line"></div>
                <div class="other__task">
                    <img class="other--task-left" src="https://static.home.mi.com/youpin/static/m/res/images/personal_icon_address.png" alt="">
                    <p>地址管理</p>
                    <img class="other--task-right" src="https://static.home.mi.com/youpin/static/m/res/images/device_shop_right_arrow.png" alt="">
                </div>
                <div class="other__task">
                    <img class="other--task-left" src="https://static.home.mi.com/youpin/static/m/res/images/set_icon_message_new.png" alt="">
                    <p>消息中心</p>
                    <img class="other--task-right" src="https://static.home.mi.com/youpin/static/m/res/images/device_shop_right_arrow.png" alt="">
                </div>
                <div class="other__task">
                    <img class="other--task-left" src="https://static.home.mi.com/youpin/static/m/res/images/personal_icon_feedback.png" alt="">
                    <p>帮助与反馈</p>
                    <img class="other--task-right" src="https://static.home.mi.com/youpin/static/m/res/images/device_shop_right_arrow.png" alt="">
                </div>
            </div>
        </section>
    </div>
<!-- </body>

</html> -->