<a path="#/home" href="#/home" class="tab-item " id="tan_main" style="color: black">
    <div class="tab-item-img-01 active"></div>
    <span class="tab-item-text">首页</span>
</a>
<a path="#/class" href="#/class" class="tab-item" id="tab_category" style="color: black">
    <div class="tab-item-img-02"></div>
    <span class="tab-item-text">分类</span>
</a>
<a path="#/taste" href="#/taste" class="tab-item" id="tab_taste" style="color: black">
    <div class="tab-item-img-03"></div>
    <span class="tab-item-text">品味</span>
</a>
<a path="#/cart" href="#/cart" class="tab-item" id="tab_cart" style="color: black">
    <div class="tab-item-img-04"></div>
    <span class="tab-item-text">购物车</span>
</a>
<a path="#/ucenter" href="#/ucenter" class="tab-item" id="tab_ucenter" style="color: black">
    <div class="tab-item-img-05"></div>
    <span class="tab-item-text">个人</span>
</a>