
<link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.0/css/swiper.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.0/js/swiper.min.js"></script>


<div class="taste">
    <header>品味</header>
    <section>
        <div class="swipters">
            <div class="swipter--big">
                <div class="swiper--big-box">
                    <div class="swiper-container swiper--big-box-father">
                        <div class="swiper-wrapper">
                            <!-- 数据填充 -->
                            <div class="swiper-slide swiper--big-box-father-children">
                                <img class="swiper--big-box-father-children-img" src="https://shop.io.mi-img.com/app/shop/img?id=shop_0ca2540d1aaccbaecd399f9ed0974d3f.jpeg&w=1080&h=540"
                                    alt="">
                            </div>
                            <div class="swiper-slide swiper--big-box-father-children">
                                <img class="swiper--big-box-father-children-img" src="https://shop.io.mi-img.com/app/shop/img?id=shop_a8b8b32f2133f6dd58dc193420839e06.jpeg&w=1080&h=540"
                                    alt="">
                            </div>
                            <div class="swiper-slide swiper--big-box-father-children">
                                <img class="swiper--big-box-father-children-img" src="https://shop.io.mi-img.com/app/shop/img?id=shop_b0952b77543ba3d990cb9432c181a4aa.png&w=1080&h=540"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                new Swiper('.swiper-container', {
                    slidesPerView: 3,
                    spaceBetween: 20,
                    // freeMode: true,
                    centeredSlides: true,
                    direction: 'horizontal', // 水平切换选项
                    loop: true,// 循环模式选项
                    autoplay: {
                        disableOnInteraction: false
                    }// 自动播放
                })
            </script>
            
        </div>
        <div class="small__box">
            <div class="small__box-box">
                <!-- 模板开始 -->

                <!-- 模板结束 -->
            </div>
        </div>
        <div class="blank"></div>
        <div class="smalltitle">品味周刊</div>
        <div class="findgood">
            <img class="findgood__picture" src="https://shop.io.mi-img.com/app/shop/img?id=shop_90e8803265af41cf3d30bd4afab3726a.jpeg&w=1080&h=300&t=webp"
                alt="">
            <div class="findgood--many">
                <div class="findgood--many--father">
                    <!-- 模板开始 -->

                    <!-- 模板结束 -->
                </div>
            </div>
        </div>
        <div class="blank"></div>
        <div class="smalltitle">独家专栏</div>
        <div class="repetition">
            <!-- 模板开始 -->

            <!-- 模板结束 -->
        </div>
    </section>

</div>