// 主体样式
@import '../_common/reset';

::-webkit-scrollbar {
    display: none;
}

.app {
    width: 100%;
    flex: 1;
    background-color: #fff;
    padding-bottom: 1.333333rem;
    .slideshow {
        width: 100%;
        height: 4.266667rem;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .banner {
        width: 100%;
        box-sizing: border-box;
        padding: .2rem;
        background-color: rgb(244, 244, 244);
    }

    .banner-container {
        display: flex;
        width: 100%;
        height: 2.533333rem;
        justify-content: space-between;

        .banner-item {
            display: flex;
            flex-direction: column;
            align-items: center;

            .banner-item--img {
                display: flex;
                width: 100%;
                justify-content: center;

                img {
                    width: 65%;
                    height: 65%;
                }
            }

            .banner-item-text {
                margin-top: .266667rem;
                color: #999;
            }
        }
    }

    // 红包
    .red-packets {
        background-color: rgb(244, 244, 244);
        padding: .2rem 0;

        img {
            width: 100%;
        }
    }

    .item-title {
        display: flex;
        height: 1.146667rem;
        font-size: .426667rem;
        align-items: center;
        font-weight: bold;
        background-color: #fff;
    }

    .production {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 0 .266667rem .266667rem .266667rem;
    }

    .production {

        .item-container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .product-item {
                width: 49.5%;
                height: 3.573333rem;
                background-color: rgb(236, 233, 244);
                position: relative;

                .production-item-img {
                    width: 2.906667rem;
                    height: 1.946667rem;
                    position: absolute;
                    right: .666667rem;
                    bottom: .266667rem;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .production-item-title,
                .production-item-price,
                .production-item-desc {
                    display: block;
                    margin-left: .2rem;
                    color: rgb(153, 153, 153);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .production-item-price {
                    font-size: .5rem;
                    color: rgb(182, 9, 9);

                    i {
                        font-size: .4rem;

                    }
                }

                .production-item-title {
                    margin-top: .266667rem;
                    font-size: .4rem;
                    color: rgb(51, 51, 51);
                }

                .production-item-desc {
                    margin-top: .15rem;
                }
            }

            .first-pro-item {
                width: 100%;
                height: 3.333333rem;
                background-color: rgb(242, 238, 228);
                margin-bottom: .066667rem;

                .production-item-img {
                    width: 3.893333rem;
                    height: 2.613333rem;
                    position: absolute;
                    right: .266667rem;
                }
            }
        }


    }

    .mi-crowd {
        .item-container {
            position: relative;

            .product-item {
                height: 4.213333rem;

                img {
                    position: absolute;
                    bottom: .5rem;
                    left: .266667rem;
                }
            }

            .first-pro-item {
                height: 3.573333rem;
            }

            .support {
                position: absolute;
                bottom: .133333rem;
                padding: .2rem;
                font-size: .266667rem;
                box-sizing: border-box;

                .current-people {
                    color: rgb(182, 9, 9);
                }

                .support-status {
                    padding: .066667rem;
                    color: #fff;
                    font-size: .24rem;
                    background-color: red;
                    line-height: .066667rem;
                }
            }

            .progress {
                width: 100%;
                height: .106667rem;
                background: linear-gradient(90deg, rgb(249, 196, 6), rgb(243, 117, 17));
                position: absolute;
                bottom: 0;
            }
        }
    }

    .production-list {
        .banner-img {
            width: 100%;
            height: 2.133333rem;
            margin-bottom: .4rem;

            img {
                width: 100%;
            }
        }

        .shoplist {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .production-list-item {

                display: flex;
                flex-direction: column;
                margin-bottom: .4rem;
                background-color: #fff;
                align-content: space-between;

                .production-list-item-img {
                    width: 3.066667rem;
                    height:3.066667rem;
                    background-color: rgba(0, 0, 0, 0.02);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 80%;
                        height: 80%;
                    }
                }

                .shop-title {
                    width: 3.066667rem;
                    box-sizing: border-box;
                    margin-top: .266667rem;
                    padding-right: .133333rem;
                    white-space: pre-wrap;
                    font-size: .373333rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .shop-price{
                    margin-top: .2rem;
                    .now-price,i{
                        color: rgb(182, 9, 9);
                    }
                    .market-price{
                        color: rgb(153, 153, 153);
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
}